{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}


 
    <div>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}

            {{ form|crispy}}
                       <input type="submit" value="login">
            <input type="hidden" name="next" value="{{ next }}">
            </form>
    </div>
    

    {# Assumes you set up the password_reset view in your URLconf #}
    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
    <h4><a href="{% url 'signup' %}">signup</a></h4>

{% endblock content %}
